/*página index*/

.inner{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.first {
    text-align: center;
}

.container {

    justify-content:center;
    align-items: center;
}

.titulo{
    text-align: center;
}
.titulo h2{
    display: block;
}


.inner-header::after {

    content: "";

    width: 14.5rem;

    height: 2px;

    background-color: #f1b356;;
    display:flow-root;
    align-self: flex-start;
}



.sobre{
    text-align: center;
}

.portfolio {
    display: flex;
    justify-content:center;
    align-items: center;
}
#portfolio{
    text-align: center;
}
.container {
    display: flex;
    justify-content:space-around;
    align-items: center;
}
.btn{
    width: 8rem;
    height: 40px;
    border:0.5 rem;
    background-color: #f1b356;
    border-bottom-color: #f1b356; 
    border-radius: 2rem;
    border-bottom-color: #03093d;
}
.btn:hover{
    background-color: #ffbe68;
   
}
.icones-container{
    display: flex;
    
    justify-content:center;
}
.icones{
    width:3rem;
    
}
#menu li{
    display: inline;
    padding: 30px;

}

#menu li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

#menu li a:hover{
    color: grey;
}

.p{
    padding: 30px;
}

.imagem{
    border-radius: 50%;
}

.wh{
    width: 15rem;
    height: 15rem;
}